header {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 200px;
}


img {
    width: 300px;
    height: 200px;
}


.img3 {
    width: 30%;
    height: 30%;
    margin-left: 150px;
}


body {
    font-family: "Reggae One Regular", serif;
    background-image: url(../img/mana2.png);
    background-color: beige;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: black
}


body {
    overflow-x: hidden
}


h1 {
    font-size: 60px;
    margin-left: 40px;
}


.global-nav {
    display: flex;
    margin-top: 60px;
    color: white
}


li {
    font-size: 25px;
    margin-left: 70px;
    margin-top: 30px;

}


a {
    color: white
}


footer {
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white
}


.keikei {
    display: flex;
    background-color: rgba(199, 198, 198, 0.824)
}


aside {
    margin-right: 100px;
    margin-top: 100px;
}


p {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 500px;
}



h2 {
    margin-left: 120px;
    margin-right: 100px;
    width: 500px;
}

li {
    transition-duration: .4s;
}

li:hover {
    transform: scale(1.1);
}


.img5 {
    transition-duration: .4s;
}

.img5:hover {
    transform: scale(1.1);
}

.btn {
    display: block;
    font-size: 20px;
    width: 185px;
    text-align: center;
    line-height: 2.5;
    margin-top: 20px;
    margin-left: 30px;
    color:black
}


.btn:hover {
    text-decoration: none;
    color: red;
}

.tuka{
        font-size: 30px;
}





