@charset "utf-8";
img {
    width: 100px;
}

body{
    font-family: "HGP創英角ﾎﾟｯﾌﾟ体", "HGS行書体", serif;
}

table,th,td{
    border: solid 1px black;
    border-collapse:collapse ;
}

td,th{
    padding: 10px;
}
caption{
    color: deeppink;
    padding-bottom: 10px;
    font-size: 40px;
}

thead{
    color:honeydew;
}

th{
    background-color: deeppink;
}